window-rule{
 opacity 0.8 
}

window-rule{
  // Make these windows opaque, matched through a variety of means :] 
  match app-id=r#"firefox$"# 
  match app-id=r#"vesktop"# 
  match app-id=r#"mpv"# 
  match app-id=r#"krita"# 
  match app-id=r#"gimp"# 
  match app-id=r#"inkscape"# 
  match app-id=r#"steam_app"# 
  match app-id=r#"zathura"# 
  match app-id="kitty"
  opacity 1.0
}

window-rule {
  match app-id=r#"firefox$"#
    open-maximized true
}
//fixes certain windows from being colored instead of being transparent
window-rule {
    draw-border-with-background false
}

window-rule {
  background-effect {
    blur true
    xray false
  }
}
